div {
    border: solid 10px blue; 
    min-height: 200px;
    width: 700px;
}

.div-2 {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 70px;
}

body {
    border: solid 20px green;
}

.div-1 {
    margin-left: -200px;
} 