body {
    border: solid 20px green;
}

div {
    border: solid 10px blue; 
    min-height: 100px;
    width: 500px;
}

.div-1 {
    text-align: justify;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 50px;
    /* width: 400px; */
}

.box-size {
    box-sizing: border-box;
}